.btn .btn-sm .btn-primary{
    color: #ecff1bbf;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(8px);
  opacity: 0.8;
  z-index: -1;
}
body {
  position: relative;
  z-index: -1;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.form-control,
.card,
.container,
.row,
.col{
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
}

.card,
.form-control{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}