<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div th:replace="layout/header :: header"></div>
    <div th:replace="layout/background :: background"></div>
    <h1 class="text-center">About Isotherm</h1>
    <p class="text-center">We are construction company based in Paris</p>
    <div class="text-center">
        Maecenas venenatis nisl vel fermentum venenatis. Sed egestas, massa in imperdiet ullamcorper, eros odio
        fermentum velit, eget elementum tellus turpis eget sem. Fusce facilisis vehicula iaculis. Maecenas commodo
        ligula lectus. Donec nec lacus ligula. Etiam blandit pharetra est vitae convallis. Fusce tortor nulla, ornare ac
        turpis ut, ornare condimentum nisl. Proin ac venenatis odio. Integer id ante congue, malesuada orci at,
        venenatis urna.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras at pharetra
        erat. In id mattis erat. Morbi vestibulum, leo mollis facilisis molestie, nisi urna pulvinar purus, mattis
        vehicula tortor mi ut turpis. Aenean nec commodo metus. Proin varius ante ultrices, porta lorem in, tincidunt
        magna. Proin dictum lectus nulla, vel convallis quam aliquam a. Donec a erat lectus. Phasellus congue maximus
        placerat. Nullam ultrices, sapien at cursus condimentum, purus nisi ultrices mi, facilisis sollicitudin diam
        nibh ullamcorper felis. Morbi ultrices vehicula facilisis. In hac habitasse platea dictumst.

        Etiam ac dui id nibh hendrerit luctus. Cras vestibulum porta quam pulvinar varius. Praesent pellentesque
        faucibus lectus, a maximus tellus venenatis pretium. Ut eget pellentesque dolor, vel varius leo. Curabitur ut
        nulla vitae leo vulputate efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean
        vulputate tortor a nulla posuere, vitae aliquet mauris sollicitudin. Phasellus fringilla velit ac quam
        porttitor, sed tincidunt erat sollicitudin. Duis dolor orci, rhoncus nec condimentum faucibus, congue a sapien.
        Pellentesque nisi nibh, facilisis at odio vitae, luctus dapibus purus. Aenean consequat bibendum ipsum non
        ultrices.

        In tortor lacus, ullamcorper vitae nulla ut, sodales euismod magna. Fusce tellus elit, elementum viverra tempus
        sed, luctus eget purus. In hac habitasse platea dictumst. Sed non nibh sit amet velit porta porttitor ut ac
        orci. Morbi blandit, tortor id lacinia aliquam, diam turpis ullamcorper neque, a vulputate eros lacus convallis
        mauris. Integer fringilla elementum fringilla. Nullam sed dolor pellentesque, egestas neque nec, sollicitudin
        mauris. Aliquam ullamcorper, odio vitae imperdiet malesuada, ante massa pellentesque est, in porttitor lorem
        enim in nunc. Curabitur condimentum magna eu lectus aliquet mattis venenatis et nibh. Donec condimentum aliquet
        nulla ac tempor. Integer aliquam arcu enim, ultricies varius nunc consectetur in. Nam nec imperdiet dui, a
        viverra urna. Proin aliquam varius ipsum, non hendrerit lorem. Suspendisse ac mi malesuada, finibus odio non,
        commodo ex.

        Maecenas suscipit metus vel nunc placerat, ac consequat nisi semper. Aenean non quam eget augue interdum
        aliquet. Donec a arcu tortor. Proin ut consequat tellus. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. Etiam interdum efficitur gravida. Donec quis nisi sed massa sollicitudin
        varius vel ac lorem. Fusce et rhoncus lorem. Aliquam in lorem pellentesque, fringilla velit a, mattis erat.
        Quisque et tortor magna. Etiam sapien orci, consequat sed tellus ut, scelerisque laoreet augue. Cras scelerisque
        sapien a scelerisque imperdiet. Aliquam tristique erat non tortor eleifend, vel mollis ipsum volutpat.

        Pellentesque condimentum porttitor venenatis. Sed malesuada congue nunc imperdiet aliquam. Sed sed dui commodo,
        fringilla est vel, pellentesque neque. Ut felis odio, fringilla eu eleifend nec, vulputate in tortor. Nulla non
        nisi non ligula luctus dapibus. Nam consectetur, erat sit amet ultricies gravida, nibh ligula elementum enim,
        nec finibus nulla sapien ut ante. Maecenas non ipsum egestas, dictum dolor ac, efficitur massa. Sed rutrum
        efficitur scelerisque. Quisque neque dolor, ultrices in eleifend at, egestas non tortor. Ut mattis leo eget
        fringilla egestas. Curabitur sodales elit ac justo fringilla ultricies.

        Nulla venenatis augue ut egestas aliquam. Quisque pretium posuere posuere. Praesent eget viverra nisi. Praesent
        urna tellus, porta vestibulum nisi id, tincidunt commodo mauris. Morbi in velit sed tellus pharetra pharetra
        tempus vitae ligula. Aliquam erat volutpat. Sed laoreet ante et mauris dapibus tempus. Maecenas condimentum
        cursus felis, sit amet luctus nulla malesuada eget. Nulla sed sapien accumsan, mattis turpis vitae, tempus
        turpis. Maecenas volutpat consequat mauris at fringilla. Suspendisse potenti. Sed sit amet magna sit amet ante
        fermentum pretium. Nulla commodo, magna id sollicitudin facilisis, sem leo blandit mi, ultricies facilisis urna
        odio venenatis leo. Sed sed ante venenatis risus eleifend condimentum in eu nulla. Curabitur lacus tortor,
        mollis at tristique vitae, ullamcorper vestibulum nisl.

        Suspendisse augue ipsum, condimentum at venenatis eu, viverra sit amet ex. Donec id nulla ut mi blandit
        sollicitudin ac non tellus. Donec consectetur risus augue, vitae accumsan felis dictum sit amet. Vestibulum
        tortor magna, gravida nec hendrerit nec, tristique vel libero. Donec dignissim vestibulum justo, a dapibus nunc
        consectetur vitae. Nunc venenatis libero dapibus consequat dignissim. Vivamus ac nunc gravida neque rhoncus
        lacinia. In a porttitor velit.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget metus ac augue efficitur aliquam at sit amet
        ex. Fusce nec erat eget turpis pulvinar egestas. Mauris malesuada volutpat nisi ut mattis. Etiam iaculis magna
        nec enim sagittis imperdiet. Fusce interdum volutpat sollicitudin. Maecenas porttitor nisl a odio aliquam
        auctor. Mauris accumsan ac nisi non porta. Donec viverra tristique erat in fermentum. Duis tempus semper nulla
        sit amet dapibus. Duis dapibus felis a blandit ultrices. Nunc a diam in enim ultricies consectetur. Donec mollis
        iaculis justo nec dictum. Vivamus tempor euismod bibendum.

        Aliquam erat volutpat. Suspendisse facilisis vulputate ipsum vel dictum. Nullam convallis quam ac maximus
        ornare. Nam sit amet blandit metus, id gravida leo. Donec et est eros. Aliquam a ipsum sed neque egestas
        aliquet. Proin ac ligula eu velit tincidunt rhoncus. Pellentesque sollicitudin, nibh eget cursus condimentum,
        tellus sapien lacinia ipsum, quis ultricies libero ligula dapibus massa. Duis vel aliquet metus, nec vestibulum
        velit. Proin a dapibus velit. Duis ac massa vitae tortor tempus dignissim. Vestibulum nibh tellus, tristique non
        ante ac, tincidunt porttitor est. Aenean sollicitudin efficitur luctus. Pellentesque euismod quis arcu sed
        accumsan. Mauris sed magna interdum, tincidunt lorem sit amet, euismod elit.

        Donec ac tellus nulla. Donec et iaculis nulla, sed ullamcorper neque. Sed et arcu neque. Pellentesque aliquam at
        ipsum sit amet condimentum. Curabitur pharetra sollicitudin lacus, in iaculis neque aliquet vel. Aliquam
        fringilla et justo consectetur fringilla. Morbi hendrerit, sem sit amet hendrerit pretium, nibh massa mollis
        sem, vel blandit nibh elit sit amet enim. Aliquam congue sed nisl ut elementum. Suspendisse tempor augue et
        velit consequat, ut posuere lectus viverra. Donec varius dui in pulvinar placerat. Nulla commodo rutrum viverra.

        Proin id massa dignissim, finibus ex et, dapibus velit. Sed et nulla sit amet odio auctor tristique. Curabitur
        ut efficitur nulla. Vestibulum consequat in lectus a semper. Etiam lacus ligula, dapibus eget ex a, consequat
        egestas elit. Mauris vulputate eget sem quis dignissim. Aliquam ac magna fermentum magna aliquam efficitur quis
        vel magna.

        Ut et vulputate ipsum. Proin sagittis nisi ut sapien volutpat, vitae finibus turpis egestas. Nam vestibulum
        hendrerit eros, vestibulum finibus magna tristique eget. Mauris fermentum eu magna id eleifend. Maecenas dapibus
        felis eu risus tincidunt porta. Maecenas et risus nulla. Aenean mollis posuere lorem, non convallis tellus
        porttitor a. Nulla nisi lacus, euismod vulputate tortor eu, mollis vestibulum purus. Quisque elementum feugiat
        felis a blandit. Nunc nec ex in justo convallis venenatis. Sed ac cursus nibh. Vivamus ac vulputate dolor.
        Vivamus sagittis a justo interdum lobortis.

        Morbi rutrum massa felis, in dapibus ex posuere vel. Maecenas vitae dui eget purus posuere auctor. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vulputate luctus est id
        accumsan. Curabitur id sapien in enim rhoncus euismod hendrerit id turpis. Curabitur feugiat mi quis magna
        malesuada, id convallis turpis consectetur. Nullam mollis ultricies mauris, ac cursus tortor molestie et.
        Praesent sit amet lectus a eros elementum egestas. Nam dapibus viverra odio. Duis mauris sapien, malesuada at
        lectus ac, volutpat facilisis leo. Nullam vitae nunc quis lorem varius pulvinar.

        Fusce venenatis, eros id consequat dignissim, ex est lobortis eros, eget tincidunt mi nisl varius urna. Duis
        congue orci non tortor eleifend, et rhoncus justo porta. Fusce viverra tempor justo, ut imperdiet urna
        condimentum ac. Curabitur accumsan molestie nisl, non tincidunt ipsum cursus hendrerit. Vestibulum dictum magna
        augue. Aenean hendrerit dolor vitae suscipit aliquam. Pellentesque at elementum augue. Integer vestibulum
        posuere elit. Ut eu gravida justo, ac hendrerit mi. Suspendisse augue felis, dapibus facilisis nibh sed,
        elementum blandit dui. In hac habitasse platea dictumst. Aenean efficitur fringilla neque. Etiam sagittis urna
        eget est suscipit hendrerit.
    </div>
    <div th:replace="layout/footer :: footer"></div>

</body>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</html>