<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
</head>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/background :: background"></div>
<div class="form-control">
    <h1 class="h3 text-center">Contact us</h1>
    <label class="text-center">
        <small>Whether you’re planning a new project, need a quote, or have any questions about
            our services, don’t hesitate to contact us. Our team is ready to help you build with confidence and
            experience.
        </small>
    </label><br><br><b>
        <label class="text-center">
            We are available 24/7 via email to assist you with any questions, concerns, or
            inquiries. You can also reach us by filling out the quick contact form below, and a member of our team
            will
            get back to you as soon as possible. If you prefer to speak with us in person, feel free to visit our
            office
            during business hours at the address provided. We look forward to hearing from you and are committed to
            providing prompt and helpful support.
        </label></b><br><br>
    <form id="contactForm">
        <div class="row">
            <div class="col">
                <input type="text" name="name" class="form-control" placeholder="First name" required>
            </div>
            <div class="col">
                <input type="text" name="lastname" class="form-control" placeholder="Last name" required>
            </div><br>
            <div class="col">
                <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email" required>
            </div><br><br>
            <div class="col">
                <input type="number" name="contactNumber" class="form-control" placeholder="Contact number" required>
            </div><br>
            <div class="row">
                <p>
                    <input id="subject" name="subject" type="text" placeholder="Subject" class="form-control" required>
                </p>
            </div><br>
            <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="6"
                    placeholder="Enter your message here" required></textarea><br>
                <button id="mail-link" type="submit" class="btn btn-info"
                    style="width: 200px; position: relative; left: 40%;">Send <i
                        class="fa-solid fa-envelope"></i></button>
            </div>
        </div>
        <div id="status"></div>
    </form>
</div>
<div th:replace="layout/footer :: footer"></div>

<body>
</body>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="/js/contactus.js"></script>

</html>