<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="h3 mb-4">Lista slika</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Extns</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody id="imageTableBody">
                <!-- Data will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
    <script src="/frontend/js/image.js"></script>
</body>

</html>